* {
	font-size: 18px;
	font-family: monospace;
}

window#waybar {
	background: #2e3440;
	color: #d8dee9;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #2e3440;
	background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray,
#custom-pacman {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #666666;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #666666;
}
#cpu {
	color: #666666;
}
#battery {
	color: #859900;
}
#disk {
	color: #666666;
}
#custom-pacman {
	color: #268bd2;
}


#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#custom-pacman {
	padding: 0 10px;
}

